<div class="text-center">
  <h1 class="mx-1">Products</h1>
</div>

<div class="mt-2" id="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "Create new product", new_product_path, class: "btn btn-success mt-3" %>
</div>
